body {
  font-family: Arial, sans-serif;
  font: Arial, sans-serif;
}

a {
  color: lightblue;
  text-decoration: none;
}

button {
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 5px 0px 5px 0px;
  border: 1px solid black;
  border-radius: 15px;
}




